/// device breakpoints

$tablet: 768px;
$desktop: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


.firstSection {
    display: flex;
    flex-direction: column;
    padding: 10vh 12vw;

    @include tablet {
        flex-direction: row;
        padding: 0;

        // @include desktop {

        // }
    }

    .firstSectionContent {
        height: 20vh;
        display: flex;
        flex-basis: 50%;
        box-sizing: border-box;
        margin: 3vh 0;

        @include tablet {
            flex-direction: row;
            height: 40vh;

            @include desktop {
                height: 50vh;
            }
        }
    }

    .firstSectionContent1 {
        justify-content: center;
        align-items: center;

        .firstSectionContent1Elements {
            margin: auto;
            font-size: 2em;

            @include tablet {
                margin: auto;
                max-width: 50%;
                font-size: 1.8em;

                @include desktop {
                    font-size: 2em;
                }
            }
        }

    }

    .firstSectionContent2 {
        justify-content: center;
        align-items: center;

        @include tablet {
            justify-content: flex-start;
            align-items: center;
        }

        .firstSectionContent2Elements {
            font-size: 1em;
            line-height: 2;
            font-style: italic;
            color: rgb(160, 160, 160);

            @include tablet {
                line-height: none;
                margin: auto auto auto 0;
                max-width: 70%;
                font-size: 0.95em;

                @include desktop {
                    line-height: 1.5;
                    max-width: 60%;
                    font-size: 1.3em;
                }
            }
        }

    }
}