/// device breakpoints

$tablet: 768px;
$desktop: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.sixSectionContainer {
    max-width: 1350px;
    margin: 0 auto;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(24, 24, 24);

    @include tablet {
        max-width: 100%;
        overflow-x: hidden;
    }

    .sixSectionContainerElement {
        position: relative;
        display: inline-block;
        padding: 5px;
        max-width: 70%;
        filter: grayscale(100%);

        @include tablet {
            max-width: 33%;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}