/// device breakpoints

$tablet: 768px;
$desktop: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.fourthSection {
    padding: 10% 5%;
    
    @include desktop {
        padding: 5% 2.5%;
    }

    .slick-dots {
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        
    
        li {
            text-decoration: none;
            list-style-type: none;
            margin: 4%;
            
        }
    
        li.slick-active button {
            background-color: rgb(148, 148, 148);
            transition: 0.4s;
        }
    
        button {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
            
            border: none;
            border-radius: 100%;
            border: 3px solid rgb(148, 148, 148);
            text-indent: -9999px;
            background-color: rgb(255, 255, 255);
        }
    }
}

.fourthSectionCarouselItem {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 70% 30%;
    padding: 20% 0 0 0;
    // grid-template-rows: auto;


    .fourthSectionCarouselItem img {
        max-width: 100%;
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .carouselItemTitle {
        grid-column-start: 2;
        grid-column-end: 3;
        position: relative;

        img {
            position: absolute;
            z-index: -5;
            width: 200px;
            height: 200px;
            top: -110px;
            left: -200px;
        }
    }

    .carouselItemDescription {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    @include tablet {

        grid-template-columns: 40% 60%;
        padding: 15% 0 0 0;

        .carouselItemTitle {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .carouselItemDescription {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: auto;
        }

        @include desktop {
            padding: 5% 0 0 0;
        }
    }
}