/// device breakpoints

$tablet: 768px;
$desktop: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.fourthSection {
    background-color: azure;
}

.carouselItem {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;

    .carouselItem img {
        max-width: 100%;
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .carouselItemTitle {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .carouselItemDescription {
        grid-column-start: 1;
        // grid-column-start: 2;
        grid-column-end: 3;
    }

    @include tablet {

        grid-template-columns: 30% 70%;

        
        .carouselItemDescription {
            grid-column-start: 2;
        }
    }
    
}




// @media screen and (max-width: 600px)  {
//     .carousel-item {
//         grid-template-rows: auto;
//     }
//     .carouselItemDescription {
//         grid-column-start: 1;
//     }
// }