.secondSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .secondSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .secondSection .secondSectionLeft {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .secondSection .secondSectionLeft {
    overflow: hidden;
    background-color: lime;
  }
  .secondSection .secondSectionLeft .secondSectionElementsLeft {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition: 1.1s;
    transition: 1.1s;
  }
  .secondSection .secondSectionLeft .secondSectionElementsLeft:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition: 1.1s;
    transition: 1.1s;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .secondSection .secondSectionRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
    height: 50vw;
  }
  .secondSection .secondSectionRightRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50vw;
    height: 25vw;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .secondSection .secondSectionRightRow {
    overflow: hidden;
    background-color: green;
  }
  .secondSection .secondSectionRightRow .secondSectionElements {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition: 1.1s;
    transition: 1.1s;
  }
  .secondSection .secondSectionRightRow .secondSectionElements:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition: 1.1s;
    transition: 1.1s;
    cursor: pointer;
  }
}

.secondSection .secondSectionElementsLeft {
  height: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: inset 130px -180px 119px -40px rgba(0, 0, 0, 0.7);
  box-shadow: inset 130px -180px 119px -40px rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .secondSection .secondSectionElementsLeft {
    height: 50vw;
  }
}

.secondSection .secondSectionElements {
  height: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: inset 130px -180px 119px -40px rgba(0, 0, 0, 0.7);
  box-shadow: inset 130px -180px 119px -40px rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .secondSection .secondSectionElements {
    width: 25vw;
    height: 25vw;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
  }
}

.secondSection .secondSectionElementsContent {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 8%;
  text-transform: uppercase;
  color: white;
}

.secondSection .secondSectionElementsContent h3 {
  font-size: 1.2em;
  padding: 4px;
}

@media (min-width: 768px) {
  .secondSection .secondSectionElementsContent h3 {
    font-size: 1em;
  }
}

.secondSection .secondSectionElementsContent p {
  font-size: 1em;
  font-style: italic;
  margin: 4px;
}

.secondSection #secondSectionDiv1 {
  background: url("../../assets/sectionTwoPhotos/section2_img1.jpg");
  background-size: cover;
}

.secondSection #secondSectionDiv2 {
  background: url("../../assets/sectionTwoPhotos/section2_img2.jpg");
  background-size: cover;
}

.secondSection #secondSectionDiv3 {
  background: url("../../assets/sectionTwoPhotos/section2_img3.jpg");
  background-size: cover;
}

.secondSection #secondSectionDiv4 {
  background: url("../../assets/sectionTwoPhotos/section2_img4.jpg");
  background-size: cover;
}

.secondSection #secondSectionDiv5 {
  background: url("../../assets/sectionTwoPhotos/section2_img5.jpg");
  background-size: cover;
}

.showElement {
  position: relative;
}

.turnElement {
  width: 0 !important;
  height: 0 !important;
  visibility: hidden;
}

@media (min-width: 768px) {
  .turnElement {
    width: 25vw !important;
    height: 25vw !important;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */