$colors:(
    testColor: rgb(255, 255, 255),
    testColor2: rgb(0, 0, 0),
);

@function color ($colorName) {
    @return map-get($colors, $colorName)
}

$margin: 0;

body {
    margin: $margin;
    background-color: color(testColor);
    font-family: 'Muli', sans-serif;
}

