$colors:(
    testColor: rgb(255, 255, 255),
    testColor2: #ffedeb,
);

@function color ($colorName) {
    @return map-get($colors, $colorName)
}

$margin: -8px;

body, html {
    margin: 0 $margin;
    background-color: color(testColor);
    font-family: 'Muli', sans-serif;
}

