$colors:(
    backgroundColor: rgb(255, 255, 255),
    testColor2: rgb(0, 0, 0),
);

@function color ($colorName) {
    @return map-get($colors, $colorName)
}

$marginZero: 0;

body {
    margin: $marginZero;
    background-color: color(backgroundColor);
    font-family: 'Muli', sans-serif;
}

