body {
    .mainNavbar {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .leftSideContent {
            display: flex;
            flex-direction: row;
        }

        .rightSideContent {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            right: 0;
            top: 51px;
            background-color: antiquewhite;
            background-color: rgba(0, 0, 0, 0.3);
            overflow-x: hidden;
            transition: 0.5s;

            a {
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block;
                transition: 0.3s;
                text-align: center;
            }
        }

        .toggleButton {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            width: 42px;

            .fa-bars {
                font-size: 2em;
            }
        }
    }
}

;