body {
    .mainNavbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8px;

        .leftSideContent {
            display: flex;
            flex-direction: row;
        }

        .rightSideContent {
            margin: 7% 0;
            display: flex;
            flex-direction: column;
            height: 70%;
            width: 0%;
            position: fixed;
            z-index: 1;
            right: 0;
            top: 67px;
            background-color: antiquewhite;
            background-color: rgba(0, 0, 0, 0.0);
            overflow-x: hidden;
            transition: 0.5s;
            justify-content: space-around;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            

            a {
                padding: 8px;
                text-decoration: none;
                font-size: 1.5em;
                color: #000;
                display: block;
                transition: 0.3s;
                text-align: center;
                text-transform: uppercase; 
                margin: 5%;

                
            }
        }

        .toggleButton {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            width: 42px;

            .fa-bars {
                font-size: 2em;
            }
        }
        .showMenu {
            width: 100%;
        }
    }
}

;