/// device breakpoints

$tablet: 768px;
$desktop: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


body {
    .mainNavbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 8px 0;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        background-color: rgb(255, 255, 255);
        z-index: 10;

        .leftSideContent {
            display: flex;
            flex-direction: row;
            z-index: 3;

        }

        .rightSideContent {
            display: flex;
            flex-direction: column;
            height: calc(100% - 67px);
            width: 0%;
            position: fixed;
            z-index: 1;
            right: 0;
            top: 67px;
            background-color: rgba(0, 0, 0, 0.0);
            overflow-x: hidden;
            transition: 0.5s;
            justify-content: center;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            padding-inline-start: 0;
            margin-block-start: 0;
            background-color: rgb(255, 255, 255);
            -webkit-box-shadow: 0px -1px 2px rgba(50, 50, 50, 0.3);
            -moz-box-shadow: 0px -1px 2px rgba(50, 50, 50, 0.3);
            box-shadow: 0px -1px 2px rgba(50, 50, 50, 0.3);

            @include tablet {
                display: flex;
                flex-direction: row;
                position: relative;
                width: auto;
                top: 0;
                transition: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-bottom: none;
            }

            li {
                list-style-type: none;

                a {
                    padding: 8px;
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #000;
                    display: block;
                    transition: 0.3s;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 3vh 0;

                    @include tablet {
                        display: inline-block;
                        margin: auto;
                        font-size: 1.1em;
                        transition: none;
                    }
                }
            }

        }

        .toggleButton {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            width: 42px;

            .fa-bars {
                font-size: 2em;
            }

            @include tablet {
                display: none;
            }
        }

        .showMenu {
            width: 100%;
        }
    }

}

;

// class to lock dropdown navbar
.fixedResponsiveNav {
    position: fixed;
}