.mainBanner {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: center;
  color: white;
  background: url(../../assets/rwd-background-jpg.jpg);
  background-size: cover;
  height: calc(100vh - 67px);
  max-width: initial;
}

.mainBanner .bannerPattern {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=");
  max-width: 100%;
  -webkit-box-shadow: inset 60px -80px 80px -50px rgba(0, 0, 0, 0.6);
  box-shadow: inset 60px -80px 80px -50px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .mainBanner .bannerPattern {
    -webkit-box-shadow: inset 120px -70px 200px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 120px -70px 200px 0px rgba(0, 0, 0, 0.7);
  }
}

.mainBanner .bannerContainer {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.mainBanner .bannerContainer .bannerElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin: 0 1vw;
}

@media (min-width: 768px) {
  .mainBanner .bannerContainer .bannerElements {
    margin: 0 5vw;
    max-width: 60vw;
    height: 45vh;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .mainBanner .bannerContainer .bannerElements {
    margin: 0 10%;
    max-width: 40vw;
    height: 45vh;
  }
}

.mainBanner .bannerContainer .bannerElements h1 {
  font-size: 2.3em;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .mainBanner .bannerContainer .bannerElements h1 {
    font-size: 3em;
    line-height: 1.2;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .mainBanner .bannerContainer .bannerElements h1 {
    font-size: 3.5em;
    line-height: 1.2;
  }
}

.mainBanner .bannerContainer .bannerElements p {
  font-size: 1.2em;
  line-height: 1.4;
  font-family: "maison_italic";
  color: white;
  font-style: italic;
  padding: 30px 0 20px 0;
}

@media (min-width: 768px) {
  .mainBanner .bannerContainer .bannerElements p {
    font-size: 2em;
    line-height: 1.4;
    padding: 40px 0 30px 0;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .mainBanner .bannerContainer .bannerElements p {
    font-size: 1.6em;
    line-height: 1.4;
    padding: 30px 0 20px 0;
  }
}

.mainBanner .bannerContainer .bannerElements button {
  background: transparent;
  line-height: 2;
  color: white;
  font-weight: bold;
  border-radius: 45px;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  padding: 12px 22px;
  cursor: pointer;
  z-index: 10;
  font-size: 1em;
  margin: 2vh 0;
}

@media (min-width: 768px) {
  .mainBanner .bannerContainer .bannerElements button {
    font-size: 1.5em;
    line-height: 2;
    padding: 12px 22px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .mainBanner .bannerContainer .bannerElements button {
    font-size: 1.1em;
    line-height: 1.5;
    padding: 20px 36px;
  }
}
/*# sourceMappingURL=style.css.map */